@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.hide {
  @media (max-width: 700px) {
    display: none;
  }
}

.nomarginTop {
  margin-top: 1px;
}

.nomarginBottom {
  margin-bottom: 1px;
}
